.resume {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.resume-header {
  grid-row: 1;
  grid-column: 1 /span 2;
}

.download-pdf {
  grid-row: 1;
  grid-column: 2;
}

.resume-contact {
  grid-row: 1;
  grid-column: 2;
}

.education {
  grid-row: 2;
  grid-column: 1; 
}

.pro-skills {
  
}