.sidebar {
  display: grid;
  position:fixed;
  grid-column: 1;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 1fr 3fr 2fr;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, .2);
}

.logo {
  grid-row: 1;
  grid-column: 1;
  margin-top: 20px;
  align-self: start;
  justify-self: center;
}

.initialsLogo {
  max-width: 80%;
  margin-left:20px;
}

.longLogo {
  place-self: center;
  height: 90%;
  padding:10px;
  border: 2px solid black;
}