.app {
  display: grid;
  grid-template-columns: 150px 1fr;
  max-width: 100%;
  overflow-x: hidden;
}

.main {
  grid-column: 2;
}

.sidebar {
  grid-column: 1;
  width: 160px;
  background-color: white;
}

p {
  font-size: 1.25rem;
  line-height: 1.8;
}